<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Shopping List App</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="shopping-list">
                <div class="header">
                        <h1>{{ header.toLocaleUpperCase() }}</h1>
                        <button v-if="state === 'default'" class="btn btn-primary" @click="changeState('edit')" >Add Item</button>
                        <button v-else class="btn btn-cancel" @click="changeState('default')" >Cancel</button>
                    </div>
            <div v-if="state === 'edit'" class='add-item-form'>
                <input v-model="newItem.label" type="text" placeholder="Add an item" @keyup.enter="saveItem" />
                <input v-model="newItem.cost" class="add-item-form__cost" type="number" placeholder="cost" />
                <p>
                    <label>Quantity</label>
                    <select v-model="newItem.quantity" id= "myList">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                    </select>
                </p>
                <button class='btn btn-primary' :disabled="newItem.length === 0" @click="saveItem">Save Item </button>
            </div>
                <div>
                    <table class="table">
                        <tr >
                            <th>Item</th>
                            <th>Cost</th> 
                            <th>Quantity</th>
                        </tr>
                        <tr v-for="item in reversedItems" :key="item.id" :class="{strikeout: item.purchased}" @click="toggledPurchased(item)">
                            <td>{{ item.label }}</td>
                            <td>£{{item.cost}}</td> 
                            <td>{{item.quantity}} </td>
                        </tr>
                    </table>
                        <!-- {{ item.label }}  £{{item.cost}}  {{item.quantity}}  -->
                </div>     
                        
                <p v-if='items.length === 0'>Nice job! You've bought all your items.</p>
                <p>Total: {{ calculateTotal }}</p>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script>
            var shoppingList = new Vue({
                el: '#shopping-list',
                data: {
                    state: 'default',
                    header: 'shopping list app',
                    newItem: {
                        label: '',
                        quantity: 1,
                        cost: '',
                        purchased: false,
                    },
                    total: 0,
                    cost: 0,
                    items: [ 
                        {
                            id: 0,
                            label: 'party hats',
                            quantity: 10,
                            cost: 3,
                            purchased: false,
                        },
                        {
                            id: 1,
                            label: 'board games',
                            quantity: 2,
                            cost: 15,
                            purchased: true,
                        },
                        {
                            id: 2,
                            label:'cups',
                            quantity: 20,
                            cost: 12,
                            purchased: false,
                        }
                    ]
                },
                computed: {
                    characterCount() {
                        return this.newItem.length;
                    },
                    reversedItems() {
                        return this.items.slice(0).reverse();
                    },
                    calculateTotal() {
                        for( let i = 0; i < this.items.length; i++ ){
                            this.total = this.total + (this.items[i].cost * this.items[i].quantity);
                        }
                        return this.total;
                    }
                },
                methods: {
                    saveItem: function() {
                        this.items.push({
                            id: this.items.length + 1,
                            label: this.newItem.label,
                            purchased: this.newItem.purchased,
                            cost: this.newItem.cost,
                            quantity: this.newItem.quantity,
                        });
                        this.newItem = {
                            id: '',
                            label: '',
                            quantity: 1,
                            cost: '',
                            purchased: false,
                        };
                    },
                    changeState: function(newState) {
                        this.state = newState;

                        this.newItem = {
                            id: '',
                            label: '',
                            quantity: 1,
                            cost: '',
                            purchased: false,
                        };

                    },
                    toggledPurchased: function(item) {
                        item.purchased = !item.purchased;
                    }
                }
            })
        </script>
    </body>
</html> 